---
layout: base
---

<section class="mt-15 container max-w-3xl mt-6 px-6">
    <h1>{{ title }}</h1>
    <p>{{ content | safe }}</p>
    {% for film in collections.film %}
    <article class="my-8">
        <a href="{{ film.url | url }}" class="no-underline text-3xl">
            {% if film.data.title %}
            {{ film.data.title }}
            {% else %}
            Untitled
            {% endif %}
        </a>
        <p class="text-base leading-6 text-gray-500 mb-3">
            Visas
            <time>
                {{ film.date | readableDate }}
            </time>
        </p>
        {% if film.data.description %}
        <p class="text-lg text-gray-500 mb-3">
            {{ film.data.description }}
        </p>
        {% endif %}
        <p>
            <a href="{{ film.url | url }}" class="text-indigo-500 font-bold text-lg no-underline">
                Läs mer →
            </a>
        </p>
    </article>
    {% endfor %}
</section>